src/jade/particles/ajaxload-works.jade
include ../_mixins

.works-item.w50
  .work-slider
    img(src="../../images/userfiles/work-5.JPG", alt="")
    img(src="../../images/userfiles/work-6.JPG", alt="")
.works-item.w50
  .work-slider
    img(src="../../images/userfiles/work-7.JPG", alt="")
    img(src="../../images/userfiles/work-8.JPG", alt="")

build/html/particles/ajaxload-works.html

<div class="works-item w50">
  <div class="work-slider"><img src="../../images/userfiles/work-5.JPG" alt=""/><img src="../../images/userfiles/work-6.JPG" alt=""/></div>
</div>
<div class="works-item w50">
  <div class="work-slider"><img src="../../images/userfiles/work-7.JPG" alt=""/><img src="../../images/userfiles/work-8.JPG" alt=""/></div>
</div>
