src/jade/particles/popups.jade
include ../_mixins

#popup-form.popup.js-popup
  .popup-inner
    .popup-close.js-popup-close
      +icon('cross')
    .promo-form.popup-form
      .promo-form__block
        .promo-form__line
        .h2 Закажите
        .promo-form__title Оставьте контактные данные и мы свяжемся с Вами!
        .input-wrap
          input(type="text" placeholder="Ваше имя").input-name
        .input-wrap
          input(type="text" placeholder="Ваш телефон").js-phone.input-phone
        .form-info-msg Мы не передаем Вашу персональную информацию третьим лицам
        button.btn Отправить

#popup-success.popup.js-popup(class=typeof popupSuccess === "undefined" ? "" : "popup-show")
  .popup-inner
    .promo-form__line
    .popup-close.js-popup-close
      +icon('cross')
    .popup-success__content
      .popup-success
        .popup-success__title Спасибо!
        strong Ваша заявка отправлена
        span Наш сотрудник свяжется <br/> с Вами в ближайшее время

#popup-success-review.popup.js-popup(class=typeof popupSuccess === "undefined" ? "" : "popup-show")
  .popup-inner
    .promo-form__line
    .popup-close.js-popup-close
      +icon('cross')
    .popup-success__content
      .popup-success
        .popup-success__title Благодарим за Ваш отзыв!
        strong Совсем скоро он появиться на сайте.

build/html/particles/popups.html

<div id="popup-form" class="popup js-popup">
  <div class="popup-inner">
    <div class="popup-close js-popup-close">
      <svg class="icon icon-cross ">
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="promo-form popup-form">
      <div class="promo-form__block">
        <div class="promo-form__line"></div>
        <div class="h2">Закажите</div>
        <div class="promo-form__title">Оставьте контактные данные и мы свяжемся с Вами!</div>
        <div class="input-wrap">
          <input type="text" placeholder="Ваше имя" class="input-name"/>
        </div>
        <div class="input-wrap">
          <input type="text" placeholder="Ваш телефон" class="js-phone input-phone"/>
        </div>
        <div class="form-info-msg">Мы не передаем Вашу персональную информацию третьим лицам</div>
        <button class="btn">Отправить</button>
      </div>
    </div>
  </div>
</div>
<div id="popup-success" class="popup js-popup">
  <div class="popup-inner">
    <div class="promo-form__line"></div>
    <div class="popup-close js-popup-close">
      <svg class="icon icon-cross ">
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="popup-success__content">
      <div class="popup-success">
        <div class="popup-success__title">Спасибо!</div><strong>Ваша заявка отправлена</strong><span>Наш сотрудник свяжется <br/> с Вами в ближайшее время</span>
      </div>
    </div>
  </div>
</div>
<div id="popup-success-review" class="popup js-popup">
  <div class="popup-inner">
    <div class="promo-form__line"></div>
    <div class="popup-close js-popup-close">
      <svg class="icon icon-cross ">
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="popup-success__content">
      <div class="popup-success">
        <div class="popup-success__title">Благодарим за Ваш отзыв!</div><strong>Совсем скоро он появиться на сайте.</strong>
      </div>
    </div>
  </div>
</div>
