src/jade/particles/works.jade
.works.bg-pattern
  .wrapper
    .h1 Наши работы
    .works-wrap.flex-row.wrap
      .works-item.w50
        .work-slider
          img(src="../../images/userfiles/work-1.JPG", alt="")
          img(src="../../images/userfiles/work-2.JPG", alt="")
      .works-item.w50
        .work-slider
          img(src="../../images/userfiles/work-3.JPG", alt="")
          img(src="../../images/userfiles/work-4.JPG", alt="")
      .works-item.w50
        .work-slider
          img(src="../../images/userfiles/work-5.JPG", alt="")
          img(src="../../images/userfiles/work-6.JPG", alt="")
      .works-item.w50
        .work-slider
          img(src="../../images/userfiles/work-7.JPG", alt="")
          img(src="../../images/userfiles/work-8.JPG", alt="")
    .works-loadbtn.text-center
      a(href="#!").btn хочу еще примеры качестенной циклевки

build/html/particles/works.html

<div class="works bg-pattern">
  <div class="wrapper">
    <div class="h1">Наши работы</div>
    <div class="works-wrap flex-row wrap">
      <div class="works-item w50">
        <div class="work-slider"><img src="../../images/userfiles/work-1.JPG" alt=""/><img src="../../images/userfiles/work-2.JPG" alt=""/></div>
      </div>
      <div class="works-item w50">
        <div class="work-slider"><img src="../../images/userfiles/work-3.JPG" alt=""/><img src="../../images/userfiles/work-4.JPG" alt=""/></div>
      </div>
      <div class="works-item w50">
        <div class="work-slider"><img src="../../images/userfiles/work-5.JPG" alt=""/><img src="../../images/userfiles/work-6.JPG" alt=""/></div>
      </div>
      <div class="works-item w50">
        <div class="work-slider"><img src="../../images/userfiles/work-7.JPG" alt=""/><img src="../../images/userfiles/work-8.JPG" alt=""/></div>
      </div>
    </div>
    <div class="works-loadbtn text-center"><a href="#!" class="btn">хочу еще примеры качестенной циклевки</a></div>
  </div>
</div>
