src/jade/template/footer.jade
include ../_mixins

.footer.bg-gray
  .wrapper
    .footer-inner.flex-row
      .footer-logo
        img(src="http://prime-parket.ru/wp-content/uploads/2018/07/Prime-Parquet-Logo_2-180x86.png", alt="")
        ul.parket-infodata
          li.parket-infodata__phone: a(href="tel: 8(495)120-05-82").link 8 (495) 120-05-82
          li.parket-infodata__whatsapp: a(href="tel: +79299372282").link +7 (929)937-22-82
          li.parket-infodata__mail: a(href="mailto:info@prime-parket.ru").link info@prime-parket.ru
          li.parket-infodata__call: a(href="#popup-form").link.link-arrow.txt-orange.js-popup-btn заказать звонок
      .footer-menu
        ul
          li: a(href="#!").link циклевка паркета
          li: a(href="#!").link ремонт и реставрация паркета
          li: a(href="#!").link шлифовка паркетной доски
          li: a(href="#!").link тонировка паркета

        ul
          li: a(href="#!").link циклевка фанеры
          li: a(href="#!").link укладка паркетной доски
          li: a(href="#!").link укладка паркета
          li: a(href="#!").link установка плинтусов
        ul
          li: a(href="#!").link Наши работы
          li: a(href="#!").link Акции
          li: a(href="#!").link Общий прайс-лист
          li: a(href="#!").link Оборудование и лаки
          li: a(href="#!").link Полезные статьи

src/html/template/footer.html

<div class="footer bg-gray">
  <div class="wrapper">
    <div class="footer-inner flex-row">
      <div class="footer-logo"><img src="http://prime-parket.ru/wp-content/uploads/2018/07/Prime-Parquet-Logo_2-180x86.png" alt=""/>
        <ul class="parket-infodata">
          <li class="parket-infodata__phone"><a href="tel: 8(495)120-05-82" class="link">8 (495) 120-05-82</a></li>
          <li class="parket-infodata__whatsapp"><a href="tel: +79299372282" class="link">+7 (929)937-22-82</a></li>
          <li class="parket-infodata__mail"><a href="mailto:info@prime-parket.ru" class="link">info@prime-parket.ru</a></li>
          <li class="parket-infodata__call"><a href="#popup-form" class="link link-arrow txt-orange js-popup-btn">заказать звонок</a></li>
        </ul>
      </div>
      <div class="footer-menu">
        <ul>
          <li><a href="#!" class="link">циклевка паркета</a></li>
          <li><a href="#!" class="link">ремонт и реставрация паркета</a></li>
          <li><a href="#!" class="link">шлифовка паркетной доски</a></li>
          <li><a href="#!" class="link">тонировка паркета</a></li>
        </ul>
        <ul>
          <li><a href="#!" class="link">циклевка фанеры</a></li>
          <li><a href="#!" class="link">укладка паркетной доски</a></li>
          <li><a href="#!" class="link">укладка паркета</a></li>
          <li><a href="#!" class="link">установка плинтусов</a></li>
        </ul>
        <ul>
          <li><a href="#!" class="link">Наши работы</a></li>
          <li><a href="#!" class="link">Акции</a></li>
          <li><a href="#!" class="link">Общий прайс-лист</a></li>
          <li><a href="#!" class="link">Оборудование и лаки</a></li>
          <li><a href="#!" class="link">Полезные статьи</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
