src/jade/template/template.jade
include ../_mixins

block vars
   - var title;
   - var pageClass = '';
   - var hideFooter;

<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="format-detection" content="telephone=no")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css", rel="stylesheet")
    
    // build:css css/vendor.min.css
    // bower:css
    link(rel='stylesheet', href='../../../vendor/reset-css/reset.css')
    link(rel='stylesheet', href='../../../vendor/slick-carousel/slick/slick.css')
    link(rel='stylesheet', href='../../../vendor/jquery.form-styler/dist/jquery.formstyler.css')
    link(rel='stylesheet', href='../../../vendor/magnific-popup/dist/magnific-popup.css')
    link(rel='stylesheet', href='../../../vendor/air-datepicker/dist/css/datepicker.css')
    // endbower    
    // endbuild
    // build:css css/commin.min.css
    link(href="../../css/common.css", rel="stylesheet")
    // endbuild
    title #{title}
  body
    .page(class='#{pageClass}')
      // header
      include header
      // end header
      

      main.main#main
        
        block content
      
      // footer
      - if(!hideFooter)
          include footer
      // end footer
    
    // popups
    include ../particles/popups
    // end popups
    // svg sprite
    .svg-sprite
      include ../../images/svg/symbol/sprite.svg
    
    // end svg sprite

    
    // build:js scripts/vendor.min.js
    // bower:js
    script(src='../../../vendor/jquery/dist/jquery.js')
    script(src='../../../vendor/slick-carousel/slick/slick.js')
    script(src='../../../vendor/viewport-units-buggyfill/viewport-units-buggyfill.js')
    script(src='../../../vendor/viewport-units-buggyfill/viewport-units-buggyfill.hacks.js')
    script(src='../../../vendor/jquery.form-styler/dist/jquery.formstyler.js')
    script(src='../../../vendor/magnific-popup/dist/jquery.magnific-popup.js')
    script(src='../../../vendor/ev-emitter/ev-emitter.js')
    script(src='../../../vendor/imagesloaded/imagesloaded.js')
    script(src='../../../vendor/air-datepicker/dist/js/datepicker.js')
    // endbower
    //- inject-not-bower:js
      
    script(src="../../scripts/libs/jquery.event.move.js")
      
    script(src="../../scripts/libs/jquery.inputmask.bundle.min.js")
      
    script(src="../../scripts/libs/jquery.twentytwenty.js")
      
    script(src="../../scripts/libs/jquery.viewportchecker.min.js")
      
    script(src="../../scripts/libs/jquery.visible.min.js")
      
    //- endinject
    // endbuild       
    // build:js scripts/common.min.js
    script(src="../../globConfigJs/config.js")
    //- inject:js    
        
    script(src="../../scripts/ajax-load.js")    
        
    script(src="../../scripts/common.js")    
        
    script(src="../../scripts/form.js")    
        
    script(src="../../scripts/popup.js")    
        
    script(src="../../scripts/sliders.js")    
        
    //- endinject
    // endbuild
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js")

build/html/template/template.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="format-detection" content="telephone=no"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../css/vendor.min.css">
    <link rel="stylesheet" href="../../css/commin.min.css">
    <title></title>
  </head>
  <body>
    <div class="page">
      <!-- header-->
      <header class="header">
        <div class="wrapper">
          <div class="header-inner">
            <div class="header-logo"><a href="#!" class="link"><img src="http://prime-parket.ru/wp-content/uploads/2018/07/Prime-Parquet-Logo_2-180x86.png" alt=""/></a></div>
            <ul class="header-menu">
              <li><a href="#!" class="link">Главная</a></li>
              <li><a href="#!" class="link">Наши работы</a></li>
              <li><a href="#!" class="link">Акции</a></li>
              <li><a href="#!" class="link">Оборудование и лаки</a></li>
              <li><a href="#!" class="link">Полезные статьи</a></li>
            </ul>
            <ul class="parket-infodata">
              <li class="parket-infodata__phone"><a href="tel: 8(495)120-05-82" class="link">8 (495) 120-05-82</a></li>
              <li class="parket-infodata__whatsapp"><a href="tel: +79299372282" class="link">+7 (929)937-22-82</a></li>
              <li class="parket-infodata__mail"><a href="mailto:info@prime-parket.ru" class="link">info@prime-parket.ru</a></li>
              <li class="parket-infodata__call"><a href="#popup-form" class="link link-arrow txt-orange js-popup-btn">заказать звонок</a></li>
            </ul>
          </div>
        </div>
        <div class="header-nav">
          <div id="nav-icon1"><span></span><span></span><span></span></div>
          <div class="wrapper">
            <ul class="header-nav__list">
              <li class="header-nav__dropdown"><a href="#!" class="link">циклевка</a>
                <ul>
                  <li><a href="#!" class="link">циклевка паркета</a></li>
                  <li><a href="#!" class="link">циклевка фанеры</a></li>
                </ul>
              </li>
              <li><a href="#!" class="link">ремонт и реставрация паркета</a></li>
              <li><a href="#!" class="link">шлифовка паркетной доски</a></li>
              <li><a href="#!" class="link">тонировка паркета</a></li>
              <li class="header-nav__dropdown"><a href="#!" class="link">Укладка</a>
                <ul>
                  <li><a href="#!" class="link">Укладка паркетной доски</a></li>
                  <li><a href="#!" class="link">Укладка паркета</a></li>
                </ul>
              </li>
              <li><a href="#!" class="link">установка плинтусов</a></li>
            </ul>
          </div>
        </div>
      </header>
      <!-- end header-->
      
      <main id="main" class="main">
      </main>
      <!-- footer-->
      <div class="footer bg-gray">
        <div class="wrapper">
          <div class="footer-inner flex-row">
            <div class="footer-logo"><img src="http://prime-parket.ru/wp-content/uploads/2018/07/Prime-Parquet-Logo_2-180x86.png" alt=""/>
              <ul class="parket-infodata">
                <li class="parket-infodata__phone"><a href="tel: 8(495)120-05-82" class="link">8 (495) 120-05-82</a></li>
                <li class="parket-infodata__whatsapp"><a href="tel: +79299372282" class="link">+7 (929)937-22-82</a></li>
                <li class="parket-infodata__mail"><a href="mailto:info@prime-parket.ru" class="link">info@prime-parket.ru</a></li>
                <li class="parket-infodata__call"><a href="#popup-form" class="link link-arrow txt-orange js-popup-btn">заказать звонок</a></li>
              </ul>
            </div>
            <div class="footer-menu">
              <ul>
                <li><a href="#!" class="link">циклевка паркета</a></li>
                <li><a href="#!" class="link">ремонт и реставрация паркета</a></li>
                <li><a href="#!" class="link">шлифовка паркетной доски</a></li>
                <li><a href="#!" class="link">тонировка паркета</a></li>
              </ul>
              <ul>
                <li><a href="#!" class="link">циклевка фанеры</a></li>
                <li><a href="#!" class="link">укладка паркетной доски</a></li>
                <li><a href="#!" class="link">укладка паркета</a></li>
                <li><a href="#!" class="link">установка плинтусов</a></li>
              </ul>
              <ul>
                <li><a href="#!" class="link">Наши работы</a></li>
                <li><a href="#!" class="link">Акции</a></li>
                <li><a href="#!" class="link">Общий прайс-лист</a></li>
                <li><a href="#!" class="link">Оборудование и лаки</a></li>
                <li><a href="#!" class="link">Полезные статьи</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end footer-->
    </div>
    <!-- popups-->
    <div id="popup-form" class="popup js-popup">
      <div class="popup-inner">
        <div class="popup-close js-popup-close">
              <svg class="icon icon-cross ">
                <use xlink:href="#cross"></use>
              </svg>
        </div>
        <div class="promo-form popup-form">
          <div class="promo-form__block">
            <div class="promo-form__line"></div>
            <div class="h2">Закажите</div>
            <div class="promo-form__title">Оставьте контактные данные и мы свяжемся с Вами!</div>
            <div class="input-wrap">
              <input type="text" placeholder="Ваше имя" class="input-name"/>
            </div>
            <div class="input-wrap">
              <input type="text" placeholder="Ваш телефон" class="js-phone input-phone"/>
            </div>
            <div class="form-info-msg">Мы не передаем Вашу персональную информацию третьим лицам</div>
            <button class="btn">Отправить</button>
          </div>
        </div>
      </div>
    </div>
    <div id="popup-success" class="popup js-popup">
      <div class="popup-inner">
        <div class="promo-form__line"></div>
        <div class="popup-close js-popup-close">
              <svg class="icon icon-cross ">
                <use xlink:href="#cross"></use>
              </svg>
        </div>
        <div class="popup-success__content">
          <div class="popup-success">
            <div class="popup-success__title">Спасибо!</div><strong>Ваша заявка отправлена</strong><span>Наш сотрудник свяжется <br/> с Вами в ближайшее время</span>
          </div>
        </div>
      </div>
    </div>
    <div id="popup-success-review" class="popup js-popup">
      <div class="popup-inner">
        <div class="promo-form__line"></div>
        <div class="popup-close js-popup-close">
              <svg class="icon icon-cross ">
                <use xlink:href="#cross"></use>
              </svg>
        </div>
        <div class="popup-success__content">
          <div class="popup-success">
            <div class="popup-success__title">Благодарим за Ваш отзыв!</div><strong>Совсем скоро он появиться на сайте.</strong>
          </div>
        </div>
      </div>
    </div>
    <!-- end popups-->
    <!-- svg sprite-->
    <div class="svg-sprite"><?xml version="1.0" encoding="utf-8"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><symbol viewBox="0 0 314.5 182.5" id="arr-bottom" xmlns="http://www.w3.org/2000/svg"><path d="M314.5 24.5c0 6-2 13-7 18l-133 133c-5 5-10 7-17 7s-12-2-17-7l-133-133c-10-10-10-25 0-35s24-10 34 0l116 116 116-116c10-10 24-10 34 0 5 5 7 11 7 17z"/></symbol><symbol viewBox="0 0 451.847 451.847" id="arr-left" xmlns="http://www.w3.org/2000/svg"><path d="M97.141 225.92c0-8.095 3.091-16.192 9.259-22.366L300.689 9.27c12.359-12.359 32.397-12.359 44.751 0 12.354 12.354 12.354 32.388 0 44.748L173.525 225.92l171.903 171.909c12.354 12.354 12.354 32.391 0 44.744-12.354 12.365-32.386 12.365-44.745 0l-194.29-194.281c-6.167-6.177-9.252-14.274-9.252-22.372z"/></symbol><symbol viewBox="0 0 476.213 476.213" id="arr-left-long" xmlns="http://www.w3.org/2000/svg"><path d="M57.426 253.106h418.787v-30H57.426l94.393-94.393-21.212-21.213L0 238.107l130.607 130.606 21.212-21.213z"/></symbol><symbol viewBox="0 0 451.846 451.847" id="arr-right" xmlns="http://www.w3.org/2000/svg"><path d="M345.441 248.292L151.154 442.573c-12.359 12.365-32.397 12.365-44.75 0-12.354-12.354-12.354-32.391 0-44.744L278.318 225.92 106.409 54.017c-12.354-12.359-12.354-32.394 0-44.748 12.354-12.359 32.391-12.359 44.75 0l194.287 194.284c6.177 6.18 9.262 14.271 9.262 22.366 0 8.099-3.091 16.196-9.267 22.373z"/></symbol><symbol viewBox="0 0 476.213 476.213" id="arr-right-long" xmlns="http://www.w3.org/2000/svg"><path d="M345.606 107.5l-21.212 21.213 94.393 94.394H0v30h418.787L324.394 347.5l21.212 21.213 130.607-130.607z"/></symbol><symbol viewBox="0 0 26 26" id="checked" xmlns="http://www.w3.org/2000/svg"><path d="M.3 14c-.2-.2-.3-.5-.3-.7s.1-.5.3-.7l1.4-1.4c.4-.4 1-.4 1.4 0l.1.1 5.5 5.9c.2.2.5.2.7 0L22.8 3.3h.1c.4-.4 1-.4 1.4 0l1.4 1.4c.4.4.4 1 0 1.4l-16 16.6c-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3L.5 14.3.3 14z"/></symbol><symbol viewBox="0 0 22.88 22.88" id="cross" xmlns="http://www.w3.org/2000/svg"><path d="M.324 1.909a1.14 1.14 0 0 1 0-1.587 1.14 1.14 0 0 1 1.587 0l9.523 9.539L20.973.322a1.12 1.12 0 0 1 1.571 0 1.112 1.112 0 0 1 0 1.587l-9.523 9.524 9.523 9.539a1.112 1.112 0 0 1 0 1.587 1.12 1.12 0 0 1-1.571 0l-9.539-9.539-9.523 9.539a1.14 1.14 0 0 1-1.587 0c-.429-.444-.429-1.159 0-1.587l9.523-9.539L.324 1.909z"/></symbol><symbol viewBox="0 0 96.124 96.123" id="facebook" xmlns="http://www.w3.org/2000/svg"><path d="M72.089.02L59.624 0C45.62 0 36.57 9.285 36.57 23.656v10.907H24.037a1.96 1.96 0 0 0-1.96 1.961v15.803a1.96 1.96 0 0 0 1.96 1.96H36.57v39.876a1.96 1.96 0 0 0 1.96 1.96h16.352a1.96 1.96 0 0 0 1.96-1.96V54.287h14.654a1.96 1.96 0 0 0 1.96-1.96l.006-15.803a1.963 1.963 0 0 0-1.961-1.961H56.842v-9.246c0-4.444 1.059-6.7 6.848-6.7l8.397-.003a1.96 1.96 0 0 0 1.959-1.96V1.98A1.96 1.96 0 0 0 72.089.02z"/></symbol><symbol viewBox="0 0 410.344 410.344" id="label" xmlns="http://www.w3.org/2000/svg"><path d="M205.212 0C119.37.088 49.816 69.678 49.772 155.52c0 83.52 143.36 245.36 149.44 252.16a8 8 0 0 0 11.921 0c6.08-6.88 149.44-168.64 149.44-252.16C360.528 69.709 291.022.132 205.212 0zm0 390.16c-27.36-32-139.44-166.32-139.44-234.72C65.772 78.429 128.201 16 205.212 16s139.44 62.429 139.44 139.44c0 68.4-112.08 202.88-139.44 234.72z"/><path d="M208.012 78c-46.524.044-84.204 37.796-84.16 84.32.044 46.524 37.796 84.204 84.32 84.16 46.493-.044 84.16-37.747 84.16-84.24-.088-46.519-37.801-84.196-84.32-84.24zm0 152.56c-37.688 0-68.24-30.552-68.24-68.24s30.552-68.24 68.24-68.24 68.24 30.552 68.24 68.24c-.044 37.67-30.571 68.196-68.24 68.24z"/></symbol><symbol viewBox="0 0 512 512" id="mail" xmlns="http://www.w3.org/2000/svg"><path d="M452 68H60C26.916 68 0 94.916 0 128v256c0 33.084 26.916 60 60 60h392c33.084 0 60-26.916 60-60V128c0-33.084-26.916-60-60-60zm20 316c0 11.028-8.972 20-20 20H60c-11.028 0-20-8.972-20-20V128c0-11.028 8.972-20 20-20h392c11.028 0 20 8.972 20 20v256z"/><path d="M468.604 92.937L256 251.074 43.396 92.937l-23.874 32.095L256 300.926l236.478-175.894z"/></symbol><symbol viewBox="0 0 487.766 487.766" id="phone" xmlns="http://www.w3.org/2000/svg"><path d="M345.487 487.566c2.2.1 4.3.2 6.5.2 23.5 0 43.1-8.5 58.5-25.2l.4-.4c5.5-6.6 11.7-12.6 18.3-18.9 4.5-4.3 9.1-8.7 13.4-13.3 20.5-21.4 20.4-48.5-.2-69.1l-57-57c-9.8-10.2-21.5-15.6-33.9-15.6-12.3 0-24.1 5.3-34.2 15.4l-33.7 33.7c-3-1.7-6.1-3.2-9.1-4.7-3.8-1.9-7.3-3.7-10.4-5.6-30.9-19.6-58.9-45.2-85.7-78.1-13.5-17-22.4-31.2-28.7-45.8 8.8-8 17-16.3 24.9-24.4 2.9-2.9 5.8-5.9 8.8-8.9 21.4-21.4 21.4-47.9 0-69.2l-28.3-28.3c-3.3-3.3-6.5-6.6-9.7-9.8-6.3-6.4-12.8-13.1-19.3-19.1-9.8-9.8-21.4-14.9-33.7-14.9-12.2 0-24 5.1-34.2 14.9l-35.5 35.4c-13 13-20.4 28.8-22 47.1-1.8 22.8 2.4 47 13.2 76.2 16.7 45.1 41.8 87 79 131.8 45.3 54 99.7 96.7 161.9 126.8 23.7 11.3 55.4 24.5 90.7 26.8zm-233.7-169.3c-35.4-42.6-59.1-82.2-74.8-124.6-9.7-26.1-13.3-46.4-11.8-65.7 1.1-12.5 5.9-22.9 14.9-31.8l35.3-35.3c5.4-5.2 11.3-7.9 17.1-7.9 5.7 0 11.3 2.7 16.7 8 6.3 5.9 12.4 12.1 18.8 18.6 3.2 3.3 6.5 6.7 9.9 10l28.3 28.3c11.6 11.6 11.6 23 0 34.6-3 3-6 6-8.9 9-8.8 8.9-17 17.3-26.1 25.4l-.5.5c-8.1 8.1-6.9 15.9-4.9 21.7.1.3.2.5.3.8 7.3 17.6 17.6 34.3 33.4 54.3 28.5 35.1 58.5 62.4 91.7 83.5 4.1 2.6 8.4 4.8 12.6 6.9 3.8 1.9 7.3 3.7 10.4 5.6.4.2.7.4 1.1.6 3.2 1.6 6.3 2.4 9.5 2.4 7.9 0 12.9-5 14.5-6.7l35.5-35.5c5.4-5.4 11.2-8.2 16.9-8.2 7 0 12.7 4.4 16.4 8.2l57.2 57.2c14 14 7.6 26.6-.3 34.9-4 4.3-8.2 8.3-12.6 12.6-6.7 6.4-13.6 13.1-19.9 20.6-10.8 11.6-23.6 17-40.3 17-1.6 0-3.3-.1-4.9-.2-31.1-2-59.9-14.1-81.6-24.4-59.2-28.5-110.9-69-153.9-120.4zm156.3-229c-6.7-1.1-13 3.4-14.1 10-1.1 6.7 3.4 13 10 14.1 27.5 4.7 52.5 17.7 72.5 37.6 19.9 19.9 32.9 45 37.6 72.5 1 6 6.2 10.2 12.1 10.2.7 0 1.4-.1 2.1-.2 6.7-1.1 11.2-7.5 10-14.1-5.5-32.5-20.9-62.2-44.4-85.7-23.7-23.6-53.3-38.9-85.8-44.4zm207.1 140.2c.7 0 1.4-.1 2.1-.2 6.7-1.1 11.2-7.5 10-14.1-9.1-53.8-34.5-102.7-73.4-141.6-39-38.9-87.9-64.3-141.7-73.4-6.7-1.1-13 3.4-14.1 10-1.1 6.7 3.4 13 10 14.1 48.7 8.3 93.1 31.3 128.4 66.6s58.3 79.7 66.6 128.4c1 6 6.2 10.2 12.1 10.2z"/></symbol><symbol viewBox="0 0 56.966 56.966" id="search" xmlns="http://www.w3.org/2000/svg"><path d="M55.146 51.887L41.588 37.786A22.926 22.926 0 0 0 46.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 0 0 .083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z"/></symbol><symbol viewBox="0 0 304.36 304.36" id="vk" xmlns="http://www.w3.org/2000/svg"><path d="M261.945 175.576c10.096 9.857 20.752 19.131 29.807 29.982 4 4.822 7.787 9.798 10.684 15.394 4.105 7.955.387 16.709-6.746 17.184l-44.34-.02c-11.436.949-20.559-3.655-28.23-11.474-6.139-6.253-11.824-12.908-17.727-19.372-2.42-2.642-4.953-5.128-7.979-7.093-6.053-3.929-11.307-2.726-14.766 3.587-3.523 6.421-4.322 13.531-4.668 20.687-.475 10.441-3.631 13.186-14.119 13.664-22.414 1.057-43.686-2.334-63.447-13.641-17.422-9.968-30.932-24.04-42.691-39.971-22.895-31.021-40.428-65.108-56.186-100.15C-2.01 76.458.584 72.22 9.295 72.07c14.465-.281 28.928-.261 43.41-.02 5.879.086 9.771 3.458 12.041 9.012 7.826 19.243 17.402 37.551 29.422 54.521 3.201 4.518 6.465 9.036 11.113 12.216 5.142 3.521 9.057 2.354 11.476-3.374 1.535-3.632 2.207-7.544 2.553-11.434 1.146-13.383 1.297-26.743-.713-40.079-1.234-8.323-5.922-13.711-14.227-15.286-4.238-.803-3.607-2.38-1.555-4.799 3.564-4.172 6.916-6.769 13.598-6.769h50.111c7.889 1.557 9.641 5.101 10.721 13.039l.043 55.663c-.086 3.073 1.535 12.192 7.07 14.226 4.43 1.448 7.35-2.096 10.008-4.905 11.998-12.734 20.561-27.783 28.211-43.366 3.395-6.852 6.314-13.968 9.143-21.078 2.096-5.276 5.385-7.872 11.328-7.757l48.229.043c1.43 0 2.877.021 4.262.258 8.127 1.385 10.354 4.881 7.844 12.817-3.955 12.451-11.65 22.827-19.174 33.251-8.043 11.129-16.645 21.877-24.621 33.072-7.328 10.223-6.746 15.376 2.357 24.255zm0 0" fill-rule="evenodd" clip-rule="evenodd"/></symbol></svg>
    </div>
    <!-- end svg sprite-->
    
    <script src="../../scripts/vendor.min.js"></script>
    <script src="../../scripts/common.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
  </body>
</html>
